.App {
	text-align: center;
}



.edit-btn {
	float: right;
	margin-right: 0.5rem;
}



.footer {
        position: fixed;
        float:inline;
        bottom: 0;
        width: 100%;
        color:burlywood;
        text-align: center;
        font-family:Papyrus;
      }
.container{
        font-family:Papyrus;
        font-weight: 2000; 
        text-align:center;
    }


