.home-title {
	font-family: Papyrus;
	padding: 11rem 6rem;
	text-shadow: 0.1rem 0.1rem 0.1rem antiquewhite, 0.5rem 0.5rem 0.5rem rgb(48, 47, 47);

	font-size: 70px;
	font-weight: 20000;
	color: antiquewhite;
	text-align: center;
	line-height: 80px;
}

.home-content {
	font-size: 30px;
	color: darkred;
	/* float: inline-end; */
	font-family: Papyrus;
}
